/* =========== 웹폰트 선언 =========== */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


/* =========== 디자인 시작시 전역 설정 =========== */

 *{
     padding: 0; 
     margin: 0;
     box-sizing: border-box; 
     
    }
body, html{
    font-family: 'Nanum Gothic Coding', monospace;
    width: 100%;
    min-width: 320px;
    
}

img {
    max-width: 100%; /* 사이즈가 변해도 넓이는 유지 */
    height: auto; /* 사이즈가 변하면 높이는 넓이에 따라서 유지 */
}

input, textarea, button, select{ /* 구글,파이어폭스,오페라,edge에서 디자인이 조금씩 다르기때문 */
    /* 
    고유하게 적용되어 있는 form관련 요소들을 제거해서
    여러 브라우저에서 동일한 form관련태그 디자인이 보이도록 처리.
     */

     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearnace: none;
     -moz-appearance: none;
     appearance: none;
}

ul,li,ol,dl{
    list-style: none;
}