
/* ==============form,btn윤곽============== */

.form-control {border-radius: 0;}
        .btn{border-radius: 0;}

    /* ==============header============== */
        .my-header {
            background-color: black;
        }
        section{margin-top: 50px;}
        .my-header a {
            color: white;
            font-size: 15px;
            
        }
        .navbar {margin-bottom: 0;}
        .navbar-brand{padding: 10px 40px;}


        /* 가상선택자 요소 색상변경 */
        .nav>li>a:focus, .nav>li>a:hover
        {background-color: #304047;}

        .nav .open>a,
        .nav .open>a:focus,
        .nav .open>a:hover{background-color: #304047;}
        .dropdown-menu li:hover{background-color: #304047;}

        /* 토글메뉴부분 색상변경 */
        .navbar-toggle{border-color: white;}
        .navbar-toggle .icon-bar{background-color: white;}

        .my-header{position:fixed; /* body기준으로 헤더고정 */ 
            top: 0;
            left:0;
            width: 100%;
            z-index:50; /* z축으로 50 */
          }




          /* ===============footer=============== */

      
      
          footer{background-color: #263238; color: white; font-size: 13px; padding: 40px 0;margin-top: 70px/* 본문영역과 겹치지 않게 */;} 
          footer .footer-menu .copy-right address{margin-bottom: 0;}
          footer .footer-menu{text-align: right;} /* 부트스트랩의 클래스 text-right속성으로 대체 가능 */
          footer .footer-menu li {
              display: inline-block;
              padding: 0  10px;
          }
          footer .footer-menu li a{ text-decoration: none; color: white; font-size: 13px;}










/* ===============banner=============== */
      .my-banner {position: relative;}
      .carousel-control.right,
      .carousel-control.left{
          background-image: linear-gradient(to right,rgba(0,0,0,0)0,rgba(0,0,0,0)100%);
      }



    /* ===============index=============== */
    
      .prod-list, .prod-box{
        display: block; 
        border: 1px solid #ddd; 
        text-align: center;/* 블럭이나, text가운데 정렬 */
    }
    .prod-list, .prod-list > li {padding: 5px;}/* 숨긴박스 + 가장 바깥 박스에 padding 5px */
    .prod-box{position: relative;}
    .prod-box .arrow{
        display: block; /* 높이 넓이를 사용하기 위해 블럭지정 */
        width: 35px;
        height: 35px;
        line-height: 35px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: #ccc;
        color: white;
        opacity: 1;
    }
    .prod-box .hover{
        display: block;
        width: 140px;
        height: 60px;
        line-height: 60px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: rgb(0, 132, 255);
        color: white;
        opacity: 0; /* 투명도 0~1 */
    }

    .prod-box:hover > .arrow{opacity: 0;}
    .prod-box:hover > .hover{opacity: 1;}
    .prod-box:hover{border: 3px solid #1367e6;}







    /* ===============상품 그리드=============== */




    .prod-content {
        overflow: hidden;
    }

    /* 부모영역에 hidden */
    .prod-img img {
        text-align: center;
        padding: 20px 0;
    }

    /* 이미지를 가운데로 */
    .prod-price {
        float: right;
    }

    .prod-info {
        float: left;
    }

    .prod-info span {
        display: block;
    }

    .prod-price strong {
        display: block;
    }

    /* 숨겨놓은 영역 */
    .prod-color {
        opacity: 0;
        margin-top: -20px;
        transition: opacity 1s ease-in-out;
    }

    /* 숨겨놓은 영역 */
    .prod-color ul {
        overflow: hidden;
    }

    .prod-color li {
        float: left;
    }

    .prod-list2:hover>.prod-color {
        opacity: 1;
    }
    .text-center {overflow: hidden;}
    .text-center button{float: right; padding: 4px 12px;}
    .pagination{margin: 0;}